ul#enlaceImagenes li
 {
  /* las mostraremos una al lado de la otra */
  display: inline; 
  margin-left:70px;
  margin-right:70px; 
}

ul#nombresImagenes li
{
 display: inline; 
 /*Para hacer espacio entre imagenes o lo que sea*/
  margin-left:110px;
  margin-right:110px;
  color:#585858;
  font-size:40px;
  vertical-align:top;
  
}

.enlaceImagen
{
  /* Quita lo subrayado del link */
  text-decoration:none; 
}

#bienvenida
{
color:#D2691E;
text-align:center;
}



