#invoices
{
 color:#D2691E;
 border:3px dashed #D2691E;
 background:white;
}

body
{
background: #E6E6E6;
}

#invoices
{
 color:#D2691E;
 border:3px dashed #D2691E;
 background:white;
}


#invoice
{
 vertical-align:top;
}


.newInvoice
{
background:#e9bd15;
color:white;
position:fixed;
right:50px;
height:60px;
width:165px;
border-radius: 10px; 
font-size: 20pt;
font-weight:bold;
}

ul#diseñoMedio li 
{
display: inline;
color: #D2691E;
margin-top:25px;
}

#link
{
text-decoration:none;
color:white;
}

