body
{
font-family:"Cooper Black";
}

.agregar
{
   font-size:25px;
   margin:auto;
   margin-left:350px;
   margin-top:-40px;
   font-weight:bold;
   cursor:pointer;
   font-family:"Cooper Black";
}

#nombreCliente , #segundoNombre,#ID,#telefono , #descripcion,#fecha,#monto , #nota
{
height:30px;
width:700px;
font-size:17px;
font-family:"Cooper Black";
}

#cancelar
{
color:red;
font-family:"Cooper Black";

}

#save
{
background:green;
color:white;
height:50px;
width:80px;
border-radius: 10px; 
font-size: 20pt;
margin-left:550px;
font-family:"Cooper Black";
cursor:pointer; 

}

#link
{
text-decoration:none;
}

