body
{
background: #E6E6E6;
}

ul#EnlancesMenu li {
  /* las mostraremos una al lado de la otra */
  display: inline;
  border:2px dashed white;
  padding: 5px;
  margin-left:40px;
  margin-right:40px;
}

.Enlace
{
color: white;
text-decoration:none;  
}

.EnlaceImagen
{
text-decoration:none;  
}

#imagen
{
display:scroll;
position:fixed;
right:50px;
top:1.35em;

}

#nombre
{
 vertical-align: top;
}



#cabecera{
    /*linea azul que separa logo*/
    border: 4px solid #333;
    padding-top: 8px;
    height:90px;
    line-height:50px;
	color:#FFFFFF;
	background-color: #D2691E;
	border-color: black;
	

}

ul#EnlaceImagenes li {
  /* las mostraremos una al lado de la otra */
  display: inline; 
  margin-left:70px;
  margin-right:70px;
  
}

ul#NImagenes li
{
 display: inline; 
 /*Para hacer espacio entre imagenes o lo que sea*/
  margin-left:120px;
  margin-right:120px;
  color:#585858;
}

center{
color:#D2691E;
}



