body
{
background: #E6E6E6;
}

#cabecera{
    border-bottom: 5px solid #D2691E;
    padding-top: 5px;
    height:70px;
    line-height:50px;
	color:#FFFFFF;
    text-align:center;
}

#colorFormulario
{
color:#D2691E;
}

/*--Informacion del Medio-->*/
#contenido{
    background-color:#D2691E;
    /*Margen de sombra alrededor del contenedor 8px negro , tamaño en las orillas*/
    box-shadow: 3px 3px 10px 5px rgba(0,0,0,.8);
    /*Las 3 líneas siguientes, sirven para el borde redondeado*/
    -webkit-border-radius:5px;
    -moz-border-radius:10px;
     border-radius:10px;
}

#pie{
    border-top: 5px solid #D2691E;
    color: #fff;
    font-size: 11px;
    height: 25px;
    line-height: 24px;
    text-align: center;
}
 

/*--Centro del formulario -->*/
#envoltura{
    /*La posicion del form*/
    position:absolute;
    /*left y top al 50% para que quede centrado en la pantalla*/
    left:50%;
    top:50%;
    margin-left:-165px;
    margin-top: -210px;
    width: 330px;
}


/*--Cuerpo--*/
#cuerpo{
    background:#FFDAB9;
	border-bottom: 100px solid #333;
    /*aumentando la aparencia de un borde*/
    border-width: 4px 0;
	border:2px solid #D2691E;
	/*anchura*/
    padding:15px 35px;
}

#usuario , #contraseña
{
   border-color: #D2691E;
}


